{% extends 'base.html' %}

{% block content %}
<h1>Musicians Directory</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Musician Name</th>
            <th>Email</th>
            <th>Album Rating</th>
            <th>Instrument Type</th>
            <th>Album Name</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for musician in musicians %}
            {% for album in musician.albums.all %}
                <tr>
                    <td>{{ musician.id }}</td>
                    <td><a href="{% url 'musician_update' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
                    <td>{{ musician.email }}</td>
                    <td>{{ album.rating }}</td>
                    <td>{{ musician.instrument_type }}</td>
                    <td>{{ album.album_name }}</td>
                    <td>{{ album.release_date }}</td>
                    <td>
                        <a href="{% url 'album_update' album.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <form action="{% url 'album_delete' album.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
